* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #303030;
}

/* MAIN */

/* main up */

#mainDown {
    background-color: #0282f9;
}

/* FOOTER */

#footerUp {
    background-image: url(/img/footer-bg.jpg);
    background-repeat: no-repeat;
}

#footerDown {
    min-height: 4.6rem;
}